<div *ngIf="displayModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50">
  <div class="relative w-full max-w-lg mx-4 p-6 border rounded-lg bg-white shadow-lg max-h-[90vh] overflow-hidden">
    <div class="flex justify-between items-center pb-3 border-b">
      <h3 class="text-lg font-semibold">More Filter</h3>
      <button (click)="closeModal()" class="text-black text-2xl">
        &times;
      </button>
    </div>

    <div class="mt-4 overflow-y-auto max-h-[70vh] pr-2">
      <h3 class="text-gray-500 mb-4">General</h3>
      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('settlementDate')">
          Settlement Date
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.settlementDate" class="flex flex-col items-center max-w-md mx-auto mt-8">
          <div class="relative w-full">
            <input
              id="startDate"
              type="date"
              class="w-1/2 px-4 py-2 border border-r-0 border-gray-300 rounded-l-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
            />
            <input
              id="endDate"
              type="date"
              class="w-1/2 px-4 py-2 border border-l-0 border-gray-300 rounded-r-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
            />
          </div>
        </div>
      </div>

      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('disbursementDate')">
          Disbursement Date
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.disbursementDate" class="pl-4 mt-2">
          <div class="relative w-full">
            <input
              id="startDate"
              type="date"
              class="w-1/2 px-4 py-2 border border-r-0 border-gray-300 rounded-l-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
            />
            <input
              id="endDate"
              type="date"
              class="w-1/2 px-4 py-2 border border-l-0 border-gray-300 rounded-r-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
            />
          </div>
        </div>
      </div>

      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('refundDate')">
          Refund Date
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.refundDate" class="pl-4 mt-2">
          <div class="relative w-full">
            <input
              id="startDate"
              type="date"
              class="w-1/2 px-4 py-2 border border-r-0 border-gray-300 rounded-l-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
            />
            <input
              id="endDate"
              type="date"
              class="w-1/2 px-4 py-2 border border-l-0 border-gray-300 rounded-r-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
            />
          </div>
        </div>
      </div>

      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('transactionAmount')">
          Transaction Amount
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.transactionAmount" class="pl-4 mt-2">
          <p class="text-gray-500 mb-2">Min. amount</p>
          <input type="number" class="border border-gray-300 p-2 rounded w-full" placeholder="Enter amount">
        </div>
        <div *ngIf="sections.transactionAmount" class="pl-4 mt-2">
          <p class="text-gray-500 mb-2">Max. amount</p>
          <input type="number" class="border border-gray-300 p-2 rounded w-full" placeholder="Enter amount">
        </div>
      </div>

      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('Invoicing')">
          Invoicing
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.Invoicing" class="pl-4 mt-2">
          <input type="text" class="border border-gray-300 p-2 rounded w-full" placeholder="Enter invoicing ID here">
        </div>
      </div>

      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('approvalCode')">
          Approval Code
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.approvalCode" class="pl-4 mt-2">
          <input type="text" class="border border-gray-300 p-2 rounded w-full" placeholder="Enter code here">
        </div>
      </div>

      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('source')">
          Source
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.source" class="pl-4 mt-2" >
          <p class="text-gray-500 mb-2">Payment Source</p>
          <select class="border border-gray-300 p-2 rounded w-full" placeholder="Payment Source">
            <option value="Core API">Core API</option>
            <option value="SNAP">SNAP</option>
            <option value="Payment link">Payment link</option>
            <option value="Invoice">Invoice</option>
          </select>
        </div>
      </div>

      <div class="mb-4">
        <button class="w-full text-left py-2 flex items-center justify-between" (click)="toggleSection('customField')">
          Custom Field
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        <div *ngIf="sections.customField" class="pl-4 mt-2">
          <input type="text" class="border border-gray-300 p-2 rounded w-full" placeholder="Enter custom field here">
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-4 space-x-2">
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" (click)="applyFilters()">Apply</button>
      <button class="bg-gray-300 text-black px-4 py-2 rounded-md hover:bg-gray-400" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
