<div class="flex">
  <div style="margin-left: 0.5%">
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex-1">
    <app-navbar></app-navbar>
    <div class="container mx-auto p-6">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold">Transaction List</h1>
        <button class="flex items-center gap-1 px-4 py-2 text-gray-500 bg-gray-100 rounded-lg">
          <i class="pi pi-upload text-base"></i>
          <span class="text-sm">Ekspor</span>
        </button>

      </div>

      <div class="flex gap-4 mt-6">
        <div class="relative w-1/4">
          <select
            [(ngModel)]="selectedFilter"
            (change)="onFilterChange()"
            class="w-full px-4 py-2 border rounded-md bg-white select-hover">
            <option value="Order ID">Order ID</option>
            <option value="ID Transaksi">Transactions ID</option>
            <option value="Email Pelanggan">Customer e-mail</option>
          </select>
          <i class="pi pi-angle-down absolute right-4 top-3"></i>
        </div>

        <div class="flex items-center w-1/2 border rounded-md border-hover">
          <i class="pi pi-search px-3"></i>
          <input type="text" [placeholder]="placeholderText" class="w-full px-4 py-2 outline-none" />
        </div>

        <div class="w-1/6">
          <button class="w-full px-4 py-2 border rounded-md text-gray-500 bg-white button-hover" (click)="openFilterModal()">
            <span class="text-sm">Filter</span>
            <span class="material-symbols-outlined">
              arrow_drop_down
            </span>
            <i class="pi pi-calendar"></i>
          </button>
        </div>

        <div class="flex items-center w-1/3 border rounded-md relative border-hover">
          <button class="w-full px-4 py-2 flex items-center justify-between" (click)="showRangeDate = true">
            <span *ngIf="selectedDateRange">
              {{ selectedDateRange[0] | date:'shortDate' }} - {{ selectedDateRange[1] | date:'shortDate' }}
            </span>
            <span *ngIf="!selectedDateRange">Date Range</span>
            <span class="material-symbols-outlined ml-2">calendar_month</span>
          </button>
          <app-range-date
            *ngIf="showRangeDate"
            (close)="onModalClose()"
            (dateRangeSelected)="onDateRangeSelected($event)">
          </app-range-date>
        </div>
      </div>

      <div class="flex justify-end mt-6">
        <div class="flex gap-4">
          <button
            class="px-4 py-2 border rounded-md text-gray-500 button-hover"
            (click)="openFilterMoreModal()"
            [disabled]="displayFilterMoreModal">
            More filter
          </button>

          <button class="px-4 py-2 bg-gray-500 text-white rounded-md button-apply-hover">
            Apply
          </button>
        </div>
      </div>

      <app-more-filter
        *ngIf="displayFilterMoreModal"
        (closeModal)="closeFilterMoreModal()">
      </app-more-filter>

      <div class="flex flex-col items-center justify-center mt-16">
        <p class="mt-4 text-gray-600 text-lg">You have no transaction yet</p>
        <p class="text-gray-400">
          Once there's any, it will be shown here
        </p>
      </div>
    </div>
    <app-filter *ngIf="displayFilterModal" (closeFilterModal)="closeFilterModal()"></app-filter>

  </div>
</div>
